.menu-icon{
    color: orangered;
    font-size: 70px;
    margin: 20px;
    z-index: 2;
    cursor: pointer;
    z-index: 3;
}

.show-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 0;
    right: 0;
    background-color: #001220;
    opacity: 0.95;
    height: 65vh;
    width: 50%;
    border-bottom-left-radius: 50%;
    transition: all, 0.5s;
    overflow: hidden;
    z-index: 2;
}

.hide-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    transition: all, 0.5s;
    z-index: 2;
}

.show-header li, .hide-header li{
    color: white;
    list-style: none;
    margin-top: 25px;
}

.show-header a, .hide-header a{
    color: white;
    text-decoration: none;
}

.active{
    border: 3px solid cyan;
    padding: 5px;
    border-radius: 10px;
}
.active a{
    font-weight: bold;
    color: cyan;
}

.contact{
    padding-top: 50px;
}

.contact img{
    height: 50vh;
    width: 100%;
}

.contact-form{
    padding: 50px;
 }
 
input, textarea{
    border: none !important;
    margin-top: 25px;
    border-radius: 15px !important;
    background: #EBECF0 !important;
  box-shadow:  5px 5px 0px #cacbce,
              -5px -5px 0px #ffffff !important;
    transition: all 1s;
}
input:focus , textarea:focus{
    transform: scale(1.02);
  }
.form-control{
    box-shadow: none;
}

.contact button{
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 20px;
    margin-top: 20px;
    background-color: #001220;
    box-shadow: none;
    border: none;
}

.footer-content{
    background-color: #001220 !important;
    text-align: center;
}

.footer-content b{
    font-size: 20px;
    color: cyan;
 }
 .footer-content svg:hover{
    transform: scale(1.5);
    color: cyan;
    cursor: pointer;
 }

@media(max-width: 750px){
    .show-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:fixed;
        top: 0;
        right: 0;
        background-color: #001220;
        opacity: 0.95;
        height: 100vh;
        width: 100%;
        transition: width 0.5s;
        overflow: hidden;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        border-left: 5px solid rgba(255, 255, 255, 0.445);
        z-index: 2;
    }
    .hide-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        height: 0;
        width: 0;
        transition: all 0s;
        z-index: 2;
    }
    .menu-icon{
        color: orangered;
        font-size: 45px;
        z-index: 3;
    }

    .contact{
        margin-top: 0 !important;
        padding: 0;
    }
    .contact-form{
        padding: 15px !important;
        margin: 15px;
    }
}